<?xml version="1.0"?>
<launch>
    <!-- Arguments ~ input/output related-->
    <arg name="data_folder" default="$(find wifi_localization)/data/"/> <!-- The folder to save data to -->
    <arg name="input_topic" default = "dummy_odometry_topic"/> <!-- Input odometry topic -->
    <arg name="parent_frame" default = "dummy_parent_frame"/> <!-- Parent frame of tf -->
    <arg name="child_frame" default = "dummy_child_frame"/> <!-- Child frame of tf -->
    <arg name="interface" default = "wlp4s0"/> <!-- Child frame of tf -->
    <arg name="pass_code" default="luxc1"/> <!-- Pass code to permit scanning programs -->

     <!-- Arguments -->
    <arg name="visualize_data" default="false"/> <!-- If visualize the collected data -->
    <arg name="visualize_folder" default="03-01-22"/> <!-- Under which subfolder the data should be displayed -->
    <arg name="simulation_mode" default="true"/> <!-- Generate dummy tf data to simulate real situation -->
    <arg name="simulation_option" default="false"/> <!-- True for publishing dummy pose messages and False for publishing dummy tf messages -->
    <arg name="collect_option" default="false"/> <!-- True to subscribe for odometry data, false to retrieve postion from tf -->
    
    <!-- Start the node -->
    <node name="wifi_localization" pkg="wifi_localization" type="collect_node" output="screen" respawn="false">
        <param name="data_folder" value="$(arg data_folder)"/>
        <param name="input_topic" value="$(arg input_topic)"/>
        <param name="visualize_data" value="$(arg visualize_data)"/>
        <param name="visualize_folder" value="$(arg visualize_folder)"/>
        <param name="simulation_mode" value="$(arg simulation_mode)"/>
        <param name="simulation_option" value="$(arg simulation_option)"/>
        <param name="collect_option" value="$(arg collect_option)"/>
        <param name="interface" value="$(arg interface)"/>
        <param name="pass_code" value="$(arg pass_code)"/>
        <param name="parent_frame" value="$(arg parent_frame)"/>
        <param name="child_frame" value="$(arg child_frame)"/>
    </node>
    
    <!-- Visualization in rviz -->
    <arg name="rviz" default="false" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find wifi_localization)/rviz/visualize.rviz" />
    </group>
</launch>
